.pageView {
  margin: 75px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.logo {
  margin-top: 55px;
  height: 30em;
  padding: 1.5em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.game-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.card-grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template: repeat(4, 1fr) / repeat(5, 1fr);
  grid-gap: 10px;
}

.default-image {
  width: 250px;
}

.player-details {
  width: 250px; /* Adjust the width as needed */
  background-color: #f8de22;
  border: #313866;
  /* border-radius: 8px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1); */
}

.player-details img {
  width: 200px; /* Adjust the width as needed */
  background-color: #f8de22;
  border: #313866;
  border-radius: 8px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio h2 {
  text-decoration: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #f8de22;
  background-color: #313866;
  text-align: center;
}

.footer p {
  margin: 2px;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: #f8de22;
  background-color: #313866;
  height: fit-content;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
}

.navbarLogo {
  height: 3.5rem;
}

.kidsZoneB {
  height: 3.5rem;
}

.kidsZone {
  margin-bottom: 30px;
}

.navMiddle {
  align-items: center;
}

.links {
  /* margin-right: 20px; */
  display: flex;
  flex-direction: row;
}

.link {
  padding: 0 10px;
  text-decoration: none;
  color: #f8de22;
}

.memorySpiel {
  margin-bottom: 15px;
}

.newGameTurns {
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 1920px) {
  .player-details {
    width: 300px;
  }
  .player-details img {
    width: 300px;
  }
  .card-grid {
    grid-gap: 20px;
  }
  .memorySpiel {
    margin-bottom: 30px;
  }
}
