@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  margin: 0px;
  /* font-family: Andale Mono, monospace; */
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  place-items: center;
  max-width: 100vw;
  max-height: 100vh;
  /* background-image: url("./assets/images/csm_Heimspiele_bis_Playoffs_News_672c09d3aa.jpg"); */
  background-color: #f8de22;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.3em;
  font-weight: 600;
  font-family: inherit;
  color: #f8de22;
  background-color: #313866;
  cursor: pointer;
  transition: 0.25s;
  text-decoration: none;
  margin-top: 10px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
